<?xml version="1.0"?>

<launch>

    <!-- extern parameters -->
    <arg name="output" default="screen" />
    <arg name="tfFixedFrame" default="map" />
    <arg name="tfBaseFootprintFrame" default="base_footpint" />
    <arg name="topOdometry" default="/robot0/odom" />
    <arg name="top2dPoseEst" default="initialpose" />
    <arg name="topCeilCam" default="ceilCamPoseArray" />
    <arg name="topMap" default="map" />
    <arg name="topMapSrv" default="static_map" />
    <arg name="samplesMax" default="5000" />
    <arg name="samplesMin" default="50" />
    <arg name="topScan" default="/robot0/laser_0" />
    <arg name="maxDistanceProbMap" default="10" />
    <arg name="subsamplingRateLaser" default="3" />
    <arg name="resamplingIntervallFilter" default="0.5" />
    <!-- ******************* -->

    <node name="ohm_pf_node" pkg="ohm_pf" type="OhmPfNode" output="$(arg output)" launch-prefix="xterm -e cgdb -ex run --args">
        <param name="tfFixedFrame" type="string" value="$(arg tfFixedFrame)" />
        <param name="tfBaseFootprintFrame" type="string" value="$(arg tfBaseFootprintFrame)" />
        <param name="topOdometry" type="string" value="$(arg topOdometry)" />
        <param name="top2dPoseEst" type="string" value="$(arg top2dPoseEst)" />
        <param name="topCeilCam" type="string" value="$(arg topCeilCam)" />
        <param name="topMap" type="string" value="$(arg topMap)" />
        <param name="topMapSrv" type="string" value="$(arg topMapSrv)" />
        <param name="samplesMax" type="int" value="$(arg samplesMax)" />
        <param name="samplesMin" type="int" value="$(arg samplesMin)" />
        <param name="topScan" type="string" value="$(arg topScan)" />
        <param name="maxDistanceProbMap" type="int" value="$(arg maxDistanceProbMap)" />
        <param name="subsamplingRateLaser" type="int" value="$(arg subsamplingRateLaser)" />
        <param name="resamplingIntervallFilter" type="double" value="$(arg resamplingIntervallFilter)" />


    </node>

</launch>
